<mat-nav-list class="nav">
  <a mat-list-item routerLink="/">Top</a>
  <a mat-list-item routerLink="/example1s/">普通のサービス</a>
  <a mat-list-item routerLink="/example1/">あきた(Entity Storeちょっとだけ。)</a>
  <a mat-list-item routerLink="/example1mat/">あきた、MatTable</a>
  <a mat-list-item routerLink="/example2/">子コンポーネント、props等</a>
  <a mat-list-item routerLink="/example3/">アニメーション</a>
  <a mat-list-item routerLink="/example4/">pipe</a>
  <a mat-list-item routerLink="/counter/">counter</a>
  <a mat-list-item routerLink="/viewchild/">viewchild</a>
</mat-nav-list>

<fieldset>
  <label>
    hogehoge:
    <input type="text" [(ngModel)]="hoge" />
    <input type="text" [ngModel]="hoge" />
  </label>
  <p>{{ hoge }}</p>
</fieldset>
