.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: wrap;

  > div {
    width: calc(100% / 2);
  }
}

p {
  word-break: break-all;
}

textarea {
  width: 90%;
}
